@font-face {
    font-family: 'Post-Jaffna';
    src: url(./fonts/PostNoBillsJaffna-SemiBold.woff);
    
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-weight: normal;
    font-family: 'Post-Jaffna';
    color: whitesmoke;
}


header {
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.logo {
    font-family: 'Post-Jaffna';
    font-weight: bolder;
    font-size: 1.2rem;
    align-self: center;
}

.nav-links {
    display: flex;
    align-items: center;
}

.links {
    font-family: 'Post-Jaffna';
    font-size: 2rem;
    text-decoration: none;
    padding-right: 0.7rem;
    color: inherit;
}

.main-container {
    height: 90vh;
    width: auto;
    background-image: url(./images/background-letters.jpg);
    background-position: center;
    background-size: 100vw 90vh;

    position: relative;
}

#pen-holder1 {
    position: absolute;
    left: 30%;
    transform: rotate(-6deg);
    width: auto;
}

#dig-pen {
    height: 40vh;
}

#pen-holder2 {
    position: absolute;
    right: 29vw;
    top: 55%;
    transform: rotate(-6deg);
}

#reg-pen {
    height: 36vh;
}

#dig-let-holder, h1, h2, h3, h4, h5, h6, p{
    font-size: 250%;
    
}

#dig-let {
    height: 90vh;
} 

#classic-let {
    position: absolute;
    right: 0;
    top: 0px;
    height: 83vh;
}






